<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/main/home.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    </th:block>

    <th:block layout:fragment="js">
        <script defer th:src="@{/js/main/home.js}"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    </th:block>

    <th:block layout:fragment="content">
        <div id="wrap">
            <div id="title_back">
                <div id="img" class="img_box"></div>
            </div>
        </div>

        <!--드롭다운 메뉴-->
        <div id="dropbox_menu">
            <ul class="nav">
                <li>
                    <a href="#">Location</a>
                    <ul class="submenu">
                        <li><a href="#">Seoul</a></li>
                        <li><a href="#">Busan</a></li>
                        <li><a href="#">Daegu</a></li>
                        <li><a href="#">Gyeoungju</a></li>
                        <li><a href="#">Jeju Isalnd</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Price</a>
                    <ul class="submenu">
                        <li><a href="#">~10,000</a></li>
                        <li><a href="#">~20,000</a></li>
                        <li><a href="#">~30,000</a></li>
                        <li><a href="#">~40,000</a></li>
                        <li><a href="#">~50,000</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Food</a>
                    <ul class="submenu">
                        <li><a href="#">Korean</a></li>
                        <li><a href="#">Japanese</a></li>
                        <li><a href="#">Chinese</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">Etc</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">With</a>
                    <ul class="submenu">
                        <li><a href="#">Friend</a></li>
                        <li><a href="#">Date</a></li>
                        <li><a href="#">Family</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Etc</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Recommendation</a>
                    <ul class="submenu">
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Rate</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Local</a></li>
                        <li><a href="#">Etc</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--검색창-->
        <div id="form">
            <div id="search_icon">
                <i class="fas fa-search-location"></i></div>
            <input type="text" placeholder="Location, Restaurant or Food">
            <div id="submit_btn">검색</div>
            <div id="search_menu"></div>
        </div>


        <section>
            <!-- 슬라이드 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0266.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0373.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0737.jpg"></div>
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0476.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0586.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0128.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0636.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0294.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0260.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0693.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0283.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0701.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0219.jpg"></div>
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0052.jpg"></div>
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0337.jpg"></div>
                </div>

                <!-- 네비게이션 -->
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                <!-- 페이징 -->
                <div class="swiper-pagination"></div>
            </div>

            <!-- 칸칸이 -->
            <div id="grid">
                <div class="box1">1</div>
                <div class="box2">2</div>
                <div class="box3">3</div>
                <div class="box4">4</div>
                <div class="box5">5</div>
                <div class="box6">6</div>
                <div class="box7">7</div>
                <div class="box8">8</div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0266.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0373.jpg"></div>
                    <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0737.jpg"></div>
                    <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0476.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0586.jpg"></div>
                    <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0128.jpg"></div>
                </div>

                <!-- 네비게이션 -->
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                <!-- 페이징 -->
                <div class="swiper-pagination"></div>
            </div>

        </section>

        <footer>
            <div id="btm">
                <div>
                    <div><h1>대동맛지도</h1></div>
                    <div>개인정보처리방침</div>
                    <div>위치기반 서비스</div>
                    <div>이용약관</div>
                </div>
                <p>상호: (주)맛잘알 사업장 소재지: 쩝쩝박사 경기도 판교818 20층</p>
                <p>e-mail: dishis@tastemap.com, Tel: 080-818-0088</p>
            </div>
        </footer>
    </th:block>
</html>