@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {/*티웨이하늘-제목*/
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*티웨이항공-내용*/
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li{list-style: none;}
a{text-decoration: none;}

body{
    padding-top: 100px;
    overflow: hidden;
}

#flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.upload{
    margin-top: 20px;
}

table{
    margin-left: 30px;
}
#btm{
    width: 100vw;
    height: 60%;
}
#favWrap{
    float: left;
    width: 40%;
    height: 70%;
    background-color: yellow;
}
.favItem{
    width: 100%;
}
.favItem > div {
    height: 20px;
}
#rsvWrap {
    float: right;
    width: 40%;
    height: 70%;
    background-color: greenyellow;
}
.rsvItem {
    width: 100%;
}
.rsvItem > div {
    height: 20px;
}

/*section{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-template-rowsrow: 1fr 1fr;*/
/*    gap: 5%;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 80%;*/
/*    height: calc(100% - 100px);*/
/*    !*margin: 20px auto 0 auto;*!*/
/*}*/

/*section > div{*/
/*    width: calc(100% - 10px);*/
/*    height: calc(100% - 10px);*/
/*}*/

/*#img{background-color: tomato;*/
/*    height: 70%;*/
/*    width: 65%;*/
/*    position: relative;*/
/*    left: 10%;*/
/*    border-radius: 70%;*/
/*    padding-left: 5%;*/
/*    !*grid-row: 1fr 1fr;*!*/
/*}*/
/*#info{*/
/*    background-color: darkcyan;*/
/*    grid-column: 2 / 4;*/
/*    height: 70%;*/
/*}*/
/*#map{background-color: lavenderblush;*/
/*    height: 70%;}*/
