<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.tastemap.board.BoardMapper">
    <sql id="list">
        SELECT A.rsnm, A.iboard, A.rsad, IFNULL(D.iuser,0) AS isFav
        FROM t_matzip A
        LEFT JOIN (
            SELECT B.iuser, B.iboard
            FROM t_matzip_fav B
            INNER JOIN t_matzip C
            ON B.iboard = C.iboard
            WHERE B.iuser = #{iuser}
        ) D
        ON A.iboard = D.iboard
    </sql>

    <select id="selBoardRsad" resultType="BoardDomain">
        <include refid="list"/>
        WHERE A.rsad LIKE CONCAT('대구광역시 ', #{rsad}, '%')
    </select>

    <select id="selBoardRsc" resultType="BoardDomain">
        <include refid="list"/>
        and A.rsc = #{rsc}
    </select>

    <!-- ////////////// DETAIL ///////////////-->
    <select id="selBoard" resultType="BoardDomain">
        SELECT *,
        (SELECT COUNT(*) FROM t_matzip_fav WHERE iboard = #{iboard}) as favCnt
        FROM t_matzip
        WHERE iboard = #{iboard}
    </select>

    <!-- //////////////////////////// cmt ///////////////////////-->
    <select id="selCmtList" resultType="CmtDomain">
        SELECT A.*, B.nm as writer, B.profileImg
        FROM t_matzip_cmt A
        INNER JOIN t_user B
                            ON A.iuser = B.iuser
        WHERE iboard = #{iboard}
        ORDER BY A.icmt
    </select>

    <insert id="insCmt">
        INSERT INTO t_matzip_cmt
            ( iboard, iuser, cmt )
        VALUES
            ( ${iboard}, ${iuser}, #{cmt} )
    </insert>

    <delete id="delCmt">
        delete from t_matzip_cmt
        where
        <if test="iboard > 0">
            iboard=#{iboard}
        </if>
        <if test="icmt > 0">
            iuser = #{iuser} AND icmt = #{icmt}
        </if>
    </delete>

    <update id="updCmt">
        UPDATE t_matzip_cmt
        SET cmt = #{cmt}
        WHERE icmt = #{icmt} AND iuser = #{iuser}
    </update>

    <!--///////////////fav/////////////////-->
    <insert id="insFav">
        INSERT INTO t_matzip_fav(iboard, iuser)
        VALUES(#{iboard}, #{iuser})
    </insert>
    <select id="selFav" resultType="BoardDomain">
        SELECT count(*) as favCnt
        FROM t_matzip_fav
        WHERE iboard = #{iboard}
    </select>

    <select id="getFav" resultType="FavEntity">
        SELECT count(iboard) from t_matzip_fav
        WHERE iboard = #{iboard} AND iuser=#{iuser}
    </select>

    <delete id="delFav">
        DELETE FROM t_matzip_fav
        WHERE iboard=#{iboard} AND iuser=#{iuser}
    </delete>
<!--    <select id="selFav" resultType="BoardDomain">-->
<!--    SELECT A.iboard, A.rsnm, A.rsc, A.rsad, IFNULL(B.iboard,0) AS isFav,-->
<!--    CASE WHEN A.rsad !=null THEN A.rsad = #{rsad}-->
<!--    WHEN (A.rsc !=null) THEN A.rsc = ${rsc} ELSE NULL END-->
<!--	FROM t_matzip A-->
<!--    LEFT JOIN t_matzip_fav B-->
<!--    ON A.iboard=B.iboard AND B.iuser=#{iuser};-->
<!--    </select>-->

<!--    <select id="selFav" resultType="BoardDomain">-->
<!--        SELECT A.iboard, A.rsnm, A.rsc, A.rsad, IFNULL(B.iboard,0)-->
<!--        AS isFav FROM t_matzip A-->
<!--        LEFT JOIN t_matzip_fav B-->
<!--        ON A.iboard=B.iboard AND B.iuser=${iuser}-->
<!--        <set>-->
<!--            <if test="A.rsad != null and A.rsad != '' ">-->
<!--                WHERE A.rsad = #{rsad}-->
<!--            </if>-->
<!--            <if test="A.rsc != null and A.rsc != '' ">-->
<!--                WHERE A.rsc = #{rsc}-->
<!--            </if>-->
<!--        </set>-->
<!--    </select>-->



    <!--/////////////////rsv///////////////////-->
    <insert id="insRsv">
        INSERT INTO t_matzip_rev(iboard, iuser, irev, dt, memberct)
        VALUES(#{iboard}, #{iuser}, #{irev}, #{dt}, #{memberct})
    </insert>

    <delete id="delRsv">
        DELETE FROM t_matzip_rev
        WHERE iboard=#{iboard} AND iuser=#{iuser}
    </delete>

<!--    <select id="selRsvList" resultType="RsvDTO">-->
<!--        SELECT A.dt, A.memberct, B.rsnm-->
<!--        FROM t_matzip_rev A-->
<!--        INNER JOIN t_matzip B-->
<!--        ON A.iboard = B.iboard-->
<!--        WHERE A.iuser = #{iuser}-->
<!--    </select>-->
</mapper>