<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>

<th:block layout:fragment="js">
    <script defer th:src="@{/js/board/detail.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=adc819469adfb0a77758f477958aa1cf&libraries=services"></script>
</th:block>

<th:block layout:fragment="content">

    <section th:with="auth=${#authentication.getPrincipal().getUser()}">
        <div id="res">
            <div class="title" th:text="${boardEntity.rsnm}">음식점:</div>
            <div class="rsad" th:text="${boardEntity.rsad}">주소:</div>
            <div id="map" style="width:100%;height:400px;"></div>
            <div class="fav" th:text="${boardDomain.favCnt}">좋아요 수:</div>
            <form id="rsv" method="post" th:action="@{/board/rsv}" th:object="${rsvEntity}" >
                인원 수 : <input type="number" min="1" max="5" th:field="*{memberct}">
                <input type="text" id="datepicker" th:field="*{dt}">
                <input type="hidden" name="iboard" th:value="${boardEntity.iboard}">
                <input type="hidden" name="iuser" th:value="${auth.iuser}">
                <input type="submit" value="예약하기">
            </form>

            <div id="rv">content</div>
            <div class="text">
                <input type="text" placeholder="후기를 작성해주세요.">
                <input type="button" value="작성">
            </div>
        </div>
    </section>

</th:block>