<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>

<th:block layout:fragment="js">
    <script defer th:src="@{/js/board/detail.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=adc819469adfb0a77758f477958aa1cf&libraries=services"></script>
</th:block>

<th:block layout:fragment="content">

    <section>
        <div id="wrap">
            <div id="res">
                <div class="title" th:text="${boardEntity.rsnm}"><span>음식점:</span></div>
                <div class="rsad" th:text="${boardEntity.rsad}">주소:</div>
                <div id="map" style="width:100%;height:300px;"></div>
                <div id="line">
                    <div class="fav"><span th:text="${boardDomain.favCnt}"></span>명이 좋아해요!</div>
                    <form id="rsv" method="post" th:action="@{/board/rsv}" th:object="${rsvEntity}">
                        인원 수 : <input type="number" min="1" max="5" th:field="*{memberct}">
                        <input type="text" id="datepicker" th:field="*{dt}">
                        <input type="hidden" name="iboard" th:value="${boardEntity.iboard}">
                        <th:block sec:authorize="isAuthenticated()" th:with="auth=${#authentication.getPrincipal().getUser()}">
                            <input type="hidden" name="iuser" th:value="${auth.iuser}">
                            <input type="submit" id="rsvbtn" value="예약하기">
                        </th:block>
                        <th:block th:if="${#authorization.expression('isAnonymous()')}">
                            <input type="submit" value="예약하기" onclick="alert('로그인이 필요합니다.');">
                        </th:block>
                    </form>
                </div>
                <!--코멘트-->
                <div>
                    <form id="cmtFrm" onsubmit="return false;">
                        <input type="text" id="cmt" placeholder="후기를 작성해주세요.">
                        <th:block sec:authorize="isAuthenticated()">
                            <input type="button" id="cmtbtn" value="작성" onclick="regCmt();">
                        </th:block>
                        <th:block th:if="${#authorization.expression('isAnonymous()')}">
                            <input type="button" value="작성" onclick="alert('로그인이 필요합니다.');">
                        </th:block>
                    </form>
                </div>

                <th:block sec:authorize="isAuthenticated()" th:with="auth=${#authentication.getPrincipal().getUser()}">
                    <div id="cmtList" style="width: 100%; height: 25%; overflow-y: scroll;"
                         th:attr="data-login-user-pk=${auth.iuser}, data-iboard=${boardEntity.iboard}"></div>
                </th:block>

                <div id="modal" class="displayNone">
                    <div class="modal_content">
                        <form id="cmtModFrm" onsubmit="return false;">
                            <input type="hidden" id="icmt">
                            <input type="text" id="modCmt">
                            <input type="button" value="댓글수정" onclick="modAjax()">
                            <input type="button" value="취소" onclick="closeModModal();">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

</th:block>