<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/board/list.css}">
    </th:block>

    <th:block layout:fragment="js">
        <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
    </th:block>

    <th:block layout:fragment="content">
        <header>
            <div id="dropbox_menu">
                <ul class="nav">
                    <li>
                        <a href="#" id="dst">구/군별</a>
                        <ul class="submenu">
                            <li><a href="jung">중구</a></li>
                            <li><a href="suseong">수성구</a></li>
                            <li><a href="east">동구</a></li>
                            <li><a href="west">서구</a></li>
                            <li><a href="south">남구</a></li>
                            <li><a href="north">북구</a></li>
                            <li><a href="dalseo">달서구</a></li>
                            <li><a href="dalseong">달성군</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">음식별</a>
                        <ul class="submenu">
                            <li><a href="korean">한식</a></li>
                            <li><a href="western">양식</a></li>
                            <li><a href="japanese">일식</a></li>
                            <li><a href="chinese">중식</a></li>
                            <li><a href="southern">동남아식</a></li>
                            <li><a href="snack">분식</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">추천별</a>
                        <ul class="submenu">
                            <li><a href="star_5"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_2"><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_1"><i class="fas fa-star"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </header>

            <section>
                <div class="content" th:each="item : ${list}">
                    <div class="img">1</div>
                    <div class="title">${item.rsnm}</div>
                    <div class="menu">3</div>
                </div>
            </section>
    </th:block>
