<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/board/list.css}">
    </th:block>

    <th:block layout:fragment="js">
        <script defer th:src="@{/js/board/list.js}"></script>
    </th:block>

    <th:block layout:fragment="content">
        <header>
            <div id="dropbox_menu">
                <ul class="nav">
                    <li>
                        <a href="#" id="dst">구/군별</a>
                        <ul class="submenu">
                            <li><a href="/board/list?rs=0">중구</a></li>
                            <li><a href="/board/list?rs=1">수성구</a></li>
                            <li><a href="/board/list?rs=2">동구</a></li>
                            <li><a href="/board/list?rs=3">서구</a></li>
                            <li><a href="/board/list?rs=4">남구</a></li>
                            <li><a href="/board/list?rs=5">북구</a></li>
                            <li><a href="/board/list?rs=6">달서구</a></li>
                            <li><a href="/board/list?rs=7">달성군</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">음식별</a>
                        <ul class="submenu">
                            <li><a href="/board/list?rs=8">한식</a></li>
                            <li><a href="/board/list?rs=9">양식</a></li>
                            <li><a href="/board/list?rs=10">일식</a></li>
                            <li><a href="/board/list?rs=11">중식</a></li>
                            <li><a href="/board/list?rs=12">동남아식</a></li>
                            <li><a href="/board/list?rs=13">분식</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">추천별</a>
                        <ul class="submenu">
                            <li><a href="star_5"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_2"><i class="fas fa-star"></i><i class="fas fa-star"></i></a></li>
                            <li><a href="star_1"><i class="fas fa-star"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </header>
        <section>
            <div class="content" th:each="item, index : ${list}">
                <div class="list">
                    <div class="title" th:onclick="|moveToDetail(${item.iboard})|">
                        <span th:text="${item.rsnm}"></span>
                    </div>
                    <div class="favContainer" sec:authorize="isAuthenticated()">
                        <i class="fa-heart favIcon"
                           th:onclick="|event1(${item.iboard}, ${index.index})|"
                           th:classappend="${item.isFav} != 0 ? 'fas' : 'far'">
                        </i>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
