<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
</th:block>

<th:block layout:fragment="js">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
</th:block>

<section layout:fragment="content">
    <div class="wrap">
        <div class="login">
            <h1>Log-in</h1>
            <div class="login_sns">
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-google"></i></a></li>
            </div>
            <div class="login_id">
                <h4>ID</h4>
                <input type="email" name="" id="" placeholder="ID">
            </div>
            <div class="login_pw">
                <h4>Password</h4>
                <input type="password" name="" id="" placeholder="Password">
            </div>
            <div class="login_etc">
                <div class="checkbox">
                    <input type="checkbox" name="" id=""> Remember ID?
                </div>
                <div class="join">
                    <a href="">Join</a>
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="submit">
            </div>
        </div>
    </div>
</section>
</html>