<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head><title>프로필</title></head>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</th:block>

<th:block layout:fragment="js">
  <script defer th:src="@{/js/user/mypage.js}"></script>
</th:block>

<th:block layout:fragment="content" th:with="profile=${#authentication.getPrincipal().getUser()}">
  <section>
  <div id="wrap">
    <div id="up">
    <form id="upForm" th:action="@{/user/mypage}" method="post" enctype="multipart/form-data" onsubmit= "return imgsubmit();">
      <div class="img">
        <th:block th:if="${profile.profileImg == null}">
          <img th:src="@{/img/noprofile.jpg}">
        </th:block>
        <th:block th:unless="${profile.profileImg == null}">
          <img th:src="@{/pic/{iuser}/{img}(iuser=${profile.iuser}, img=${profile.profileImg})}">
        </th:block>
      </div>
      <div class="upload">
        이미지 : <input type="file" id="img" name="img" multiple accept="image/*"><input type="submit" value="업로드">

      </div>
    </form>
    <div id="table">
    <table>
      <tr>
        <th>이메일</th>
        <td th:text="${profile.email}"></td>
      </tr>
      <tr>
        <th>이름</th>
        <td th:text="${profile.nm}"></td>
      </tr>
      <tr>
        <th>전화 번호</th>
        <td th:text="${profile.tel}"></td>
      </tr>
      <tr>
        <th>가입 날짜</th>
        <td th:text="${profile.regdt}"></td>
      </tr>
    </table>
    </div>
    </div>

  <div id="btm">
    <div id="favWrap" style="overflow-y: scroll;">
      <div class="favItem"><h3>내가 좋아한 식당</h3>
        <span th:each="item : ${boardDomain}">
        <div class="rsnm" th:text="${item.rsnm}"></div>
        </span>
      </div>
    </div>
    <div id="rsvWrap" style="overflow-y: scroll;">
      <div class="rsvItem"><h3>내가 예약한 식당</h3>
        <span th:each="item : ${rsvDTO}">
           <table id="rsvTable">
            <tr>
              <th class="rsvTh">날짜</th>
              <td class="rsvTd" th:text="${item.dt}"></td>
            </tr>
            <tr>
              <th class="rsvTh">인원</th>
              <td class="rsvTd" th:text="${item.memberct}"></td>
            </tr>
            <tr>
              <th class="rsvTh">식당</th>
              <td class="rsvTd" th:text="${item.rsnm}"></td>
            </tr>
           </table>
        </span>
      </div>
    </div>
  </div>
  </div>
  </section>
</th:block>
</html>