@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
    font-family: "twaysky";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "twayair";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.bg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#top {
    height: 70px;
    border-bottom: 0;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to left, #ff4d2e, #ff9b2f);
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 70px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

svg text {
    font-family: "twaysky";
    font-size: 6rem;
    letter-spacing: 5px;
    stroke-width: 2px;
    stroke: #fff;
    fill: transparent;
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    animation: stroke 1.5s linear;
    animation-fill-mode: forwards;
}

text:nth-child(1) {
    animation-delay: 0s;
}

text:nth-child(2) {
    animation-delay: 1s;
}

text:nth-child(3) {
    animation-delay: 2s;
}

text:nth-child(4) {
    animation-delay: 3s;
}

text:nth-child(5) {
    animation-delay: 4s;
}

text:nth-child(6) {
    animation-delay: 5s;
}

text:nth-child(7) {
    animation-delay: 6s;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 750;
    }
    70% {
        fill: #fff;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #fff;
    }
}


.header_nav {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    height: 100%;
    margin-left: auto;
}

.header_item {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    width: 130px;
    box-sizing: border-box;
}

.header_menulink {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 100%;
}

.menu_text {
    font-size: 16px;
    color: white;
}


/*login*/

#loginModal{
    cursor: pointer;
}

/* Join */

#joinModal{
    cursor: pointer;
}

/*로그인 모달 css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'twayair';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

#login {
    display: none;
    position: fixed;
    top: 10%;
    left: 35%;
    width: 27%;
    height: 550px;
    /*padding-bottom: 100px;*/
    border-radius: 5%;
    background-color: rgb(238, 230, 211);
    margin: 0 auto;
    z-index: 9999;
}

.login_form{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 450px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: tomato;
}


.login_sns {
    padding: 20px;
    display: flex;
}

.login_sns li {
    padding: 0px 15px;
    width: 73px;
    height: 50px;
}

.login_sns a {
    display: grid;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.login_id {
    margin-top: 20px;
    width: 100%;
}

.login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_pw {
    margin-top: 20px;
    width: 100%;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.submit {
    margin-top: 30px;
    width: 100%;
}

.submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    cursor: pointer;
}

/*join*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


#join {
    display: none;
    position: fixed;
    top: 3%;
    left: 35%;
    width: 30%;
    height: 650px;
    padding-bottom: 50px;
    border-radius: 5%;
    background-color: rgb(238, 230, 211);
    margin: 0 auto;
    z-index: 9999;
}
h1 {
    display: block;
    padding-top: 5%;
    color: tomato;
    font-size: 2.5rem;
    text-align: center;
}

.cnt {
    position: relative;
    width: 60%;
    margin: 12px auto;
}
.cnt > div {
    font-size: 1rem;
    font-weight: 500;
}
.cnt > input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 5px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1rem;
}

#idCheckBtn {
    position: absolute;
    right: 15px;
    top: 35px;
    width: 20%;
    height: 30px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#joinBtn {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    margin-left: 20%;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}













