<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="header">
    <div id="top">
        <div class="logo">
            <a th:href="@{/home}">
                <svg width=300 height=70 viewBox="0 0 400 200">
                    <text x="-10" y="65%">대</text>
                    <text x="90" y="55%">동</text>
                    <text x="200" y="50%">맛</text>
                    <text x="300" y="55%">지</text>
                    <text x="400" y="65%">도</text>
                </svg>
            </a>
        </div>
        <ul class="header_nav">
            <li class="header_item" sec:authorize="isAnonymous()">
                <div class="header_menulink"><span id="loginModal" class="menu_text">Login</span></div>
            </li>
            <li class="header_item" sec:authorize="isAnonymous()">
                <div class="header_menulink"><span id="joinModal" class="menu_text">Join</span></div>
            </li>
            <li class="header_item" sec:authorize="isAuthenticated()">
                <a th:href="@{/user/mypage}"  class="header_menulink"><span class="menu_text">MyPage</span></a>
                <a th:href="@{/user/logout}">로그아웃</a>
            </li>
        </ul>
    </div>
</header>
</html>
