@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {/*티웨이하늘-제목*/
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*티웨이항공-내용*/
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
li{list-style: none;}
a{text-decoration: none;}


section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr;
    gap: 5%;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: calc(100% - 80px);
    margin: 20px auto 0 auto;
}

section > div{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
section > fas-fa-star{color: yellow;}
#img{background-color: tomato;}
#res{
    background-color: darkcyan;
    grid-column: 2/4;
}
#res .title{
    background-color: beige;
    height: 10%;}
#res .menu{
    background-color: burlywood;
    height: 80%;
}
#btn{
    float: right;
    margin-right: 10px;}

#rate{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: antiquewhite;
    text-align: center;}

#rate .star{
    padding-top: 10px;
    background-color: thistle;
}

#rate .number{
    background-color: rosybrown;}

#rate .count{
    background-color: seagreen;}

#map{background-color: lavenderblush;}

#rv{
    background-color: indianred;
    grid-column: 2 / 4;
}
#text{
    background-color: cadetblue;
}