@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {/*티웨이하늘-제목*/
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*티웨이항공-내용*/
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
li{list-style: none;}
a{text-decoration: none;}

section{
    position: relative;
    top: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    /*margin: 20px auto 0 auto;*/
    /*overflow: hidden;*/
    grid-template-columns: 0.5fr;
}

/*section > div{*/
/*    width: calc(100% - 10px);*/
/*    height: calc(100% - 10px);*/
/*}*/

#res{
    height: 100%;
    width: 100%;
}
#res .title{
    background-color: beige;
    height: 10%;
}
#res .rsad{
    background-color: #ded17c;
    height: 5%;
}
#res .fav{
    background-color: burlywood;
    height: 5%;
}
#rsv{
    background-color: blanchedalmond;
    height: 5%;
}
#rv{
    background-color: indianred;
    height: 60%;
}
.text{
    background-color: cadetblue;
    height: 15%;
}

/*코멘트*/
.displayNone { display: none !important; }

#modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .modal_content{
    background: white;
    border: 1px solid #95a5a6;
    padding: 20px;
}

.tdimg{
    width: 50px;
    height: 50px;
    border-radius: 30%;

}