li{list-style: none;}
a{text-decoration: none;}

section{
    font-family: 'twayair' !important;
    position: relative;
    top: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    /*margin: 20px auto 0 auto;*/
    /*overflow: hidden;*/
    grid-template-columns: 0.5fr;
}

/*section > div{*/
/*    width: calc(100% - 10px);*/
/*    height: calc(100% - 10px);*/
/*}*/

#res{
    height: 100%;
    width: 100%;
}
#res .title{
    background-color: beige;
    height: 10%;
}
#res .rsad{
    background-color: #ded17c;
    height: 5%;
}
#res .fav{
    background-color: burlywood;
    height: 5%;
}
#rsv{
    background-color: blanchedalmond;
    height: 5%;
}
#rv{
    background-color: indianred;
    height: 60%;
}
.text{
    background-color: cadetblue;
    height: 15%;
}

input::placeholder { font-family: 'twayair'; }

/*코멘트*/
.displayNone { display: none !important; }

#modal {
    position: fixed;
    top: 40%;
    left: 35%;
    width: 25%;
    height: 30%;
    /*padding-bottom: 100px;*/
    border-radius: 5%;
    background-color: rgb(238, 230, 211);
    margin: 0 auto;
    z-index: 9999;
}

#modCmt {
    margin-top: 30px;
    width: 50%;
}

#modal .modal_content{
    padding: 20px;
}

.tdimg{
    width: 50px;
    height: 50px;
    border-radius: 30%;

}