li{list-style: none;}
a{text-decoration: none;}

section{
    font-family: 'twayair' !important;
    position: relative;
    top: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    /*margin: 20px auto 0 auto;*/
    /*overflow: hidden;*/
    grid-template-columns: 0.5fr;
}

#wrap{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

#res{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #FFFAFA;
}
#res .title{
    color: tomato;
    padding-top: 10px;
    font-family: 'twayair';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 10%;
}
#res .rsad{
    font-family: 'twayair';
    text-align: center;
    height: 5%;
}

#line{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 5%;
    display: grid;
    grid-template-columns: 1fr auto;
}
.fav{
    font-family: 'twayair';
    flaot:left;
}
#rsv{
    font-family: 'twayair';
    font-weight: inherit;
    float:right;
}
#rsvbtn{
    background-color: #f9eca0;
    width: 15%;
    border-radius: 10%;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'twayair';
    font-weight: inherit;
}

input::placeholder { font-family: 'twayair'; }

/*코멘트*/
.displayNone { display: none !important; }

#modal {
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
    height: 10%;
    padding-top: 10px;
    border-radius: 5%;
    background-color: rgba( 255, 255, 255, 0.9 );
    margin: 0 auto;
    z-index: 9999;
}

#modCmt {
    margin: 0 auto;
    width: 80%;
}

#modal .modal_content{
    padding: 20px;
}

.table{
    width: 100%;
    height: 20%;
    background-color: rgb(241, 233, 217);
}

#cmtFrm{
    position: fixed;
    bottom: 15px;
    border-radius: 20%;
    width: 100%;
    height: 5%;
}

#cmt{
    width: 30%;
}
#cmtbtn{
    background-color: #f9eca0;
    width: 3%;
    border-radius: 10%;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'twayair';
    font-weight: inherit;
}

#cmtList{
    padding-top: 20px;
    -ms-overflow-style: none;
}
#cmtList::-webkit-scrollbar{ display:none; }

.tdimg{
    width: 50px;
    height: 50px;
    border-radius: 30%;
}